html {
  min-height: 100%;
  --map-accent: rgb(183,174,156);
  --vel-blue: rgb(23, 133, 194);
}
#content a, #content a:hover, #content a:visited {
  color: var(--vel-blue, rgb(23, 133, 194));
}
header, main, footer, div {
  flex-shrink: 0;
}
hr {
  width: 100%;
}
#content div > *:first-child {
  text-align: center;
}
#content {
  min-height: 50vh;
}
#content table {
  width: 100%;
  margin: 1.5em 0;
}
#content thead {
  padding-bottom: .3em;
  border-bottom: .2em solid var(--vel-blue, rgb(23,133,194));
}
#content p {
  line-height: 1.5em;
}
#content ul {
  line-height: 1.75em;
}
.superlist ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.superlist li {
  box-sizing: border-box;
  font-weight: 700;
  flex: auto 1 1;
  min-width: 13em;
  width: 20%;
  padding: 1.1em;
  margin-right: 1em;
  margin-bottom: .8em;
  color: white;
  background: var(--vel-blue, rgb(23,133,194));
  border: .1em white solid;
  border-radius: .2em;
}
footer a, footer a:hover, footer a:visited {
  color: white;
}
.bg-vel-blue {
  background-color: var(--vel-blue, rgb(23, 133, 194));
}
.vel-blue {
  color: var(--vel-blue, rgb(23, 133, 194));
}
.skew-y {
  transform: skewY(-1.5deg);
}
.rotate-tiny {
  transform: skewY(1.5) rotate(-1.5deg);
}
.origin-top-left {
  transform-origin: left top;
}
.origin-top-right {
  transform-origin: top right;
}
.bg-map-accent {
  background-color: var(--map-accent, rgb(183,174,156));
}
.download[href$=".pdf"]::before {
  content: '📄 '
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
}
