html {
  min-height: 100%;
  --map-accent: rgb(183,174,156);
  --vel-blue: rgb(23, 133, 194);
}
#content a, #content a:hover, #content a:visited {
  color: var(--vel-blue, rgb(23, 133, 194));
}
header, main, footer, div {
  flex-shrink: 0;
}
hr {
  width: 100%;
}
#content div > *:first-child {
  text-align: right;
  padding-right: 1.5rem;
}
#content {
  min-height: 50vh;
}
#content table {
  width: 100%;
  margin: 1.5em 0;
}
#content thead {
  padding-bottom: .3em;
  border-bottom: .2em solid var(--vel-blue, rgb(23,133,194));
}
#content p {
  line-height: 1.5em;
}
#content ul {
  line-height: 1.75em;
}
.superlist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.superlist a{
  box-sizing: border-box;
  font-weight: 700;
  min-width: 13em;
  width: 20%;
  padding: 1.1em;
  margin-bottom: .8em;
  color: white;
  background: var(--vel-blue, rgb(23,133,194));
  border: .1em white solid;
  border-radius: .2em;
}
.seperator-sun:after {
  content: ' ';
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='32' viewBox='-4 -4 60 28' xmlns='http://www.w3.org/2000/svg'%3E%3CclipPath id='cut-off'%3E%3Crect x='0' y='0' width='64' height='32'/%3E%3C/clipPath%3E%3Ccircle cx='28' cy='32' r='25' fill='%23ffe000' clip-path='url(%23cut-off)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center 80%;
  width: 100%;
  height: 3ch;
  margin-top: -3.3ch;
}
footer a, footer a:hover, footer a:visited {
  color: white;
}
.bg-vel-blue {
  background-color: var(--vel-blue, rgb(23, 133, 194));
}
.vel-blue {
  color: var(--vel-blue, rgb(23, 133, 194));
}
.sticky {
  position: sticky;
}
.skew-y {
  transform: skewY(-1.5deg);
}
.rotate-tiny {
  transform: skewY(1.5) rotate(-1.5deg);
}
.origin-top-left {
  transform-origin: left top;
}
.origin-top-right {
  transform-origin: top right;
}
.bg-map-accent {
  background-color: var(--map-accent, rgb(183,174,156));
}
.download[href$=".pdf"]::before {
  content: '📄 '
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
}
.invisible {
  visibility: hidden;
}
.grid {
  display: grid;
}
.gtc-repeat {
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
}
.gg4 {
  grid-gap: 2rem;
}
.object-contain {
  object-fit: contain;
}
img + img {
  margin-top: 1em;
}
